/* Här sätter jag att allt i body är i mitten och sitter som en column */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Här stylar jag min titel och sätter den rätt på hemsidan genom att använda flex och margin */
.title {
    display: flex; 
    justify-content: center;
    font-size: 90px;
    font-family: cursive;
    margin-bottom: -1rem;    
}

.title a {
    text-decoration: none;
    color: goldenrod;
    
}

.menu-img {
    height: 65%;
    width: 65%;
}
/* Här bestämmer jag med flex hur allting i min navbar ska lägga sig (space around så det är symetriskt) och så stylar jag den lite*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
    background-color: black;
    width: 100%;
    height: 50px;
}

/*  Här stylar jag själva knappen som ska bli min dropbutton*/
.dropbtn {
    font-size: 30px;
    padding: 1px;
    border: none;
    cursor: pointer;
    background-color: goldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 40px;
    
}
/* Här bestämmer jag att när man drar pilen över knappen (hover) så ska den bli grå*/ 
.dropbtn:hover, .dropbtn:focus {
    background-color: gray;
}

/* Här bestämmer jag positioner och så att man kan ändra storleken på alla items inom menu classen*/ 
.menu {
    position: relative;
    display: inline-block;
}

/* Här stylar jag och positionerar allting som är inuti drop knappen alltså det som kommer fram */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: red;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Här gör jag så att contentet från drop knappen (och alla andra items i navbar längre ner) ändrar färg när jag drar musen över det*/ 
.dropdown-content a:hover {background-color: darkred;}

.menu:hover .dropdown-content {display: block;}

.menu:hover .dropbtn {background-color: gray;}

.news {
    background-color: goldenrod;
    display: flex;
    font-size: 30px;
    padding: 1px;
    border: none;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.news a {
    color: black;
    text-decoration: none;
}

.news:hover, .news:focus {
    background-color: gray;
}

.checkout {
    background-color: goldenrod;
    display: flex;
    font-size: 30px;
    padding: 1px;
    border: none;
    cursor: pointer;
   
}

.checkout a {
    color: black;
    text-decoration: none;
}
.checkout:hover, .checkout:focus {
    background-color: gray;
}

/* Här använder jag flexbox för att göra mina bästsäljar produkter vara i en 3x3 grid*/ 
.popular {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* Här stylar jag enskilda items style och använder flex för hur allting innuti ska ligga */
.popular-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
    padding-bottom: 5%;
    margin-bottom: 2%;
    position: relative;
    background-color: lightgray;
    border: none;
    cursor: pointer;
    
}

/* Här har jag gjort så att när man drar musen över de items i 3x3 griden så ändrar de färg men även storlek */
.popular-item:hover, .popular-item:focus {
    background-color: gray;
    width: 34%;
    padding-bottom: 2%;
    margin-bottom: 1%;
    position: relative;
    border: none;   
    cursor: pointer;

}
/* Här bestämmer jag storlek på alla mina olika bilder på produkter*/
.cola-img {
    height: 100%;
    width: 187px;
   
}

.fanta-img {
    height: 70%;
    width: 330px;
    
    
}

.zero-img {
    height: 150%;
    width: 310px;
    
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.sprite-img {
    height: 370px;
    width: 180px;
}

.fantaexo-img {
    height: 150%;
    width: 310px;
}

.vanilla-img {
    height: 100%;
    width: 315px;
    
}

.cart-img {
    height: 95%;
    width: 35px;
    position: relative;
    
}

/* Här bestämmer jag hur allting inuti varje produkt ska ligga genom att använda space between och align items*/
.productinfo {
display: flex;
background-color: lightgray;
height: 800px ;
justify-content: space-between;
align-items: center;
}

/* Här har jag bestämt storleken för alla bilder innuti produktinformationen*/
.colainfo {
height: 700px;

}
/* Här stylar jag texten (produktinformationen) och lade en border runt*/
.producttext {
justify-self: flex-end;
align-self: center;
margin: 5rem;
border: 3px black dotted;
padding: 5px;
}

/* Här stylar jag alla mina H3 element med en border m.m */ 
h3 {
    display: flex;
    font-size: 30px;
    
    text-align: center;
    color: goldenrod;
    padding: 5px;
    border: 5px solid black;
    width: fit-content;
}


.addcart {
   background-color: white;
   font-size: 13px;
  
}

.addcart:hover, .addcart:focus {
    background-color: gray;
}

/* Här stylar jag min text för gratis frakt*/
.shipping {
margin-left: 70rem;
font-size: 20px;
font-family: cursive ;
text-decoration: underline ;

}
 /* Här stylar jag min slideshow genom att ge den storlek och bakgrundsfärg samt att flytta ner den med margin*/
.slideshow {
    display: flex;
    justify-content: center;
    width: 900px;
    height: 600px;
    background-color: black;
    margin-top: 3rem;
}

.slideshow img {
    height: 100%;
    
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
    
  }
  
  /* Här nedan jag centrerat och stylat alla olika aspecter i min kontakt sida 
  detta insåg jag var onödigt att göra en för varje och jag hade kunnat göra endast en för alla*/
  .phonenumber {
    display: flex;
    align-items: center;
    width: 48%;
    height: 100px;
    margin-bottom: 2%;
    background-color: black;
    justify-content: center;
  }
 
  .email {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    height: 100px;
    margin-bottom: 2%;
    background-color: black;
    
  }
  /* Här skriver jag så att var tredje item ska vara specialt stort men detta är också onödigt då jag endast gjorde en specialstorlek*/ 
  .adress:nth-child(3n) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: black;
    margin-bottom: 2%;
  }

  .name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    height: 100px;
    margin-bottom: 2%;
    background-color: black;
  }

  .instagram {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    height: 100px;
    margin-bottom: 2%;
    background-color: black;
  }

p {
color: goldenrod;
font-size: 25px;
}

h1 {

    text-align: center ;
    font-size: 25px;
    border: 4px black solid;
    padding: 12rem;
    padding-top: 10px;
}
